canvas{
	background-image: url(../imagejeux/jeuxcactus/fonddesert.jpg);
	background-repeat: no-repeat;
	border: solid black 2px;
	margin-left: 421px;
    margin-top: 165px;
    border-radius: 20px;
}

body{
	background-image: url(../image/tele.png);

	background-repeat: no-repeat;
background-size: 100%}

.moncercle{
  background:black;
  border-radius:50%;
  width:75px;
  height:75px;
  border:2px solid #679403; 
}

button{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}